.git
.gitignore
.dockerignore
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.eggs/
dist/
build/
.vscode/
.idea/
.dvc/
.env
logs/
data/crops/
data/clusters/
data/yolo_dataset/
runs/
mlruns/
label-studio-data/
*.log
*.sqlite3
*.index
